.project-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 400px;
    height: 100%;
    padding-right: 20px; /* Añadido para dar más espacio entre el texto y la imagen */
}

.image-container {
    position: relative;
    margin-left: 100px; /* Ajustado el margen para mejorar el alineamiento */
}

.line-horizontal-top,
.line-vertical,
.line-horizontal-bottom {
    position: absolute;
}

.line-horizontal-top {
    top: 20px; /* Ajustado para bajar más la línea superior */
    left: 20.2%;
    width: 30%; /* Ajustado para mejor alineación */
    height: 3px;
    border-radius: 100% 0 0 100%; 
    background: linear-gradient(to right, white, #2C5E77); 
}

.line-vertical {
    top: 20px; /* Ajustado para coincidir con la línea horizontal */
    left: 50%; /* Centramos la línea vertical */
    width: 4px;
    height: 100%;
    background:#2C5E77; 
}

.line-horizontal-bottom {
    bottom: -6%; /* Ajustado para dar más margen en la parte inferior */
    left: 50%;
    width: 30%;
    height: 4px;
    background: #2C5E77; 
}

/* Agregamos el punto en la línea inferior */
.line-horizontal-bottom::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #2C5E77;
    border-radius: 50%;
    position: absolute;
    right: 0px; /* Ajusta la distancia desde el borde derecho */
    top: -6px;
}

/* Responsividad */
@media (max-width: 768px) {
    .project-container {
        align-items: center;
        flex-direction: column;
    }

    .text-container {
        max-width: 90%; /* Permitir que el texto use más ancho en pantallas pequeñas */
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .image-container {
        margin-left: 0;
        max-width: 100%; /* Aseguramos que la imagen use el 100% del contenedor */
    }

    .line-horizontal-top,
    .line-vertical,
    .line-horizontal-bottom {
        display: none; /* Ocultar líneas en pantallas pequeñas */
    }
}

@media (max-width: 988px) {
    .line-horizontal-top,
    .line-vertical,
    .line-horizontal-bottom {
        display: none; /* Ocultar líneas en pantallas pequeñas */
    }
}

