.project-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.project-text-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 400px;
    min-height: 300px; /* Altura mínima para asegurar espacio para el contenido y las flechas */
    height: 100%;
    padding-right: 20px;
    padding-bottom: 60px; /* Espacio para las flechas de navegación */
}

.project-image-container {
    position: relative;
    margin-left: 50px;
    max-width: 100%;
    margin-left: 100px;
    margin-bottom: 30px;
}

.project-line-horizontal-top,
.project-line-vertical,
.project-line-horizontal-bottom {
    position: absolute;
}

.project-line-horizontal-top {
    top: 0;
    left: 10%;
    width: 40.2%;
    height: 3px;
    border-radius: 100% 0 0 100%;
    background: linear-gradient(to right, white, #2C5E77);
}

.project-line-vertical {
    left: 50%;
    width: 4px;
    height: 100%;
    background: #2C5E77;
}

.project-line-horizontal-bottom {
    bottom: 0;
    left: 50%;
    width: 40%;
    height: 4px;
    background: #2C5E77;
}

.project-line-horizontal-bottom::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #2C5E77;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: -6px;
}

.navigation-arrows {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    padding: 10px 0;
}

/* Responsiveness */
@media (max-width: 768px) {
    .project-container {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .project-text-container {
        max-width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
        padding-bottom: 80px; /* Aumentar el espacio para las flechas en móvil */
    }

    .project-image-container {
        margin-left: 0;
        max-width: 100%;
    }

    .project-line-horizontal-top,
    .project-line-vertical,
    .project-line-horizontal-bottom {
        display: none;
    }

    .navigation-arrows {
        bottom: 0; /* Asegura que las flechas estén en la parte inferior en móvil */
    }
}