.project-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 50%;
    padding-right: 20px; /* Añadido para dar más espacio entre el texto y la imagen */
}

.image-container {
    position: relative;
    margin-left: 60px; /* Ajustado el margen para mejorar el alineamiento */
}

.line-horizontal-top,
.line-vertical,
.line-horizontal-bottom {
    position: absolute;
    background: linear-gradient(to right, white, #2C5E77); 
}

.line-horizontal-top {
    top: 20px; /* Ajustado para bajar más la línea superior */
    left: 0;
    width: 50%; /* Ajustado para mejor alineación */
    height: 3px;
    border-radius: 100% 0 0 100%; 
    background: linear-gradient(to right, white, #2C5E77); 
}

.line-vertical {
    top: 20px; /* Ajustado para coincidir con la línea horizontal */
    left: 50%; /* Centramos la línea vertical */
    width: 4px;
    height: 100%;
    background: linear-gradient(to left, white, #2C5E77); 
}

.line-horizontal-bottom {
    bottom: -6.5%; /* Ajustado para dar más margen en la parte inferior */
    left: 50%;
    width: 50%;
    height: 3px;
    border-radius: 0 100% 100% 0; 
    background: linear-gradient(to left, white, #2C5E77); 
}

/* Responsividad */
@media (max-width: 768px) {
    .project-container {
        align-items: center;
        flex-direction: column;
    }

    .text-container {
        max-width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .image-container {
        margin-left: 0;
    }
    
    .line-horizontal-top,
    .line-vertical,
    .line-horizontal-bottom {
        display: none;
    }
}
